<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Document</title>
  </head>
  <header>
    <h1>Welcome to Stdimitrov Supporter</h1>
    <p>by Stdimitrov Team</p>
  </header>
  <body>
    Hello
    <nav id="nav">
      <a href="#">Home</a> <a href="$">Contact</a><a href="">Acount</a>
      <a href="javascript:void(0);" class="icon" onclick="navigatorRes()"></a>
    </nav>
    

<div class="card">
  <img src="img/admin.jpg" alt="Stanislav Dimitrov" >
  <h1>Stanislav Dimitrov</h1>
  <p class="role">Owner</p>
  <p> Back-end developer!</p>
</div>
  </body>
  <script src="js/responsiveNav.js"></script>
</html>
